# ─── AWS ───────────────────────────────────────────────
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_RAW_BUCKET=
S3_PROCESSED_BUCKET=
SQS_QUEUE_URL=
CLOUDFRONT_DOMAIN=

# ─── Node.js ───────────────────────────────────────────
JWT_SECRET=
WEBHOOK_SECRET=
FRONTEND_URL=
NODE_WEBHOOK_URL=

# ─── Django ────────────────────────────────────────────
DJANGO_SECRET_KEY=
DEBUG=False
